<template>
  <div class="about">
    <h1>About</h1>
    <p>
      I am Știube Alexandru and this App is my training project for university.
      It is made with Vue.js, Vuex, Vue Router, Axios and Sass (theoretical
      Sass). All data is from WordPress TedBlog rest API. Non commercial use.
    </p>
    <div class="logoBox">
      <span class="logoLink">
        <a href="https://gitlab.com/Stiube_Alex/wordpress_v2" target="_blank"
          ><img src="..\assets\gitlab.png" alt="gitLabLogo"
        /></a>
      </span>
      <span class="logoLink">
        <a
          href="https://www.linkedin.com/in/alexandru-știube-2157331b1/"
          target="_blank"
          ><img src="..\assets\linkedin.png" alt="linkedinLogo"
        /></a>
      </span>
    </div>
  </div>
</template>

<script>
export default {
  name: "About",
  created() {
    window.scrollTo(0, 0);
  },
};
</script>

<style lang="scss" scoped>
p {
  text-align: justify;
  width: 30ch;
  margin: 30px auto;
  font-size: 1.4rem;
}
.logoLink {
  margin: 10px;
  img {
    width: 50px;
    height: auto;
  }
}
.about {
  padding: 20px;
  display: inline-block;
  border: 1px solid black;
}
* {
  box-sizing: border-box;
}
</style>
