<template>
  <div>
    <Category />
  </div>
</template>

<script>
import Category from "../components/Category.vue";
export default {
  name: "CategoryPage",
  components: {
    Category,
  },
  created() {
    window.scrollTo(0, 0);
  },
};
</script>
