<template>
  <div>
    <PostsPerCat />
  </div>
</template>

<script>
import PostsPerCat from "../components/PostsPerCat.vue";
import PageControl from "../components/PageControl.vue";
export default {
  name: "CategoryPosts",
  components: {
    PostsPerCat,
    PageControl,
  },
  created() {
    window.scrollTo(0, 0);
  },
};
</script>

<style></style>
