<template>
  <div class="home">
    <img alt="Vue logo" src="../assets/logo.png" />
    <div>
      <router-link :to="{ name: 'CategoryPage' }"
        ><p class="test">Categories</p>
      </router-link>
    </div>
    <MainPosts />
    <PageControl />
  </div>
</template>

<script>
import MainPosts from "../components/MainPosts.vue";
import PageControl from "../components/PageControl.vue";
export default {
  name: "Home",
  components: {
    MainPosts,
    PageControl,
  },
  created() {
    window.scrollTo(0, 0);
  },
};
</script>

<style scoped lang="scss">
.test {
  font-size: 1.5rem;
  margin: 20px auto;
  border: 1px solid black;
  display: inline-block;
  width: 180px;
  &:hover {
    opacity: 0.6;
  }
}
</style>
