<template>
  <div>
    <Post />
  </div>
</template>

<script>
import Post from "../components/Post.vue";
export default {
  name: "PostPage",
  components: {
    Post,
    created() {
      window.scrollTo(0, 0);
    },
  },
};
</script>
