<template>
  <div>
    <h2>Categories</h2>
    <img
      v-if="loadCategory.length == 0"
      src="../assets/preloading.gif"
      alt="loading"
    />
    <div class="grid">
      <div v-for="cat in loadCategory" :key="cat">
        <div class="fixMargin">
          <router-link
            :to="{
              name: 'CategoryPosts',
              params: { id: cat.id, name: cat.name },
            }"
          >
            <div class="border">
              <div class="box">
                <p v-html="cat.name"></p>
              </div>
            </div>
          </router-link>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
export default {
  name: "Category",
  methods: {
    ...mapActions(["fetchCategory"]),
  },
  computed: {
    ...mapGetters(["loadCategory"]),
  },
  created() {
    this.fetchCategory();
  },
};
</script>

<style scoped lang="scss">
h2 {
  font-weight: 400;
  font-size: 1.6rem;
  margin: 0 0 25px;
}
.box {
  display: inline-block;
  font-size: 1.5rem;
  padding: 20px 0;
}
.border {
  cursor: pointer;
  border: 1px solid black;
  &:hover {
    opacity: 0.6;
  }
}
.fixMargin {
  margin: 10px;
}
.grid {
  display: grid;
  grid-template-columns: 1fr;
}

@media screen and (min-width: 600px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (min-width: 600px) and (max-width: 1200px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}
</style>
