<template>
  <div>
    <img
      v-if="loadPosts.length == 0"
      src="../assets/preloading.gif"
      alt="loading"
    />
    <div v-for="post in loadPosts" :key="post">
      <router-link
        v-on:click="load"
        :to="{
          name: 'PostPage',
          params: { id: post.id },
        }"
      >
        <span class="posts" v-html="post.title.rendered"></span>
      </router-link>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
export default {
  name: "MainPosts",
  methods: {
    ...mapActions(["fetchData"]),
    load() {
      let regEx = /\/page\/\d+/;
      let url = window.location.href.match(regEx);
      let page = 1;
      if (url) {
        let pageArr = url[0].split("/");
        page = pageArr[pageArr.length - 1];
      }
      this.fetchData(page);
    },
  },
  computed: {
    ...mapGetters(["loadPosts"]),
  },
  created() {
    this.load();
  },
};
</script>

<style>
.posts {
  display: inline-block;
  margin: 10px;
  font-size: 1.2rem;
}
</style>
