<template>
  <div id="nav">
    <div class="size">
      <router-link class="icon" to="/">
        <i class="fas fa-home"></i>
      </router-link>
    </div>
    <h1>Blog Website</h1>
    <div class="size">
      <router-link to="/about">
        <span class="about">About Me</span>
      </router-link>
    </div>
  </div>
</template>

<script>
export default {
  name: "Navbar",
};
</script>

<style scoped lang="scss">
#nav {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-bottom: 1px solid black;
  padding: 10px 20px;
  z-index: 10;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;

  a {
    &:active {
      color: black;
    }
    &:hover {
      opacity: 0.8;
    }
    &.router-link-exact-active {
      color: #42b983;
    }
  }
}

.icon {
  font-size: 48px;
  &:hover {
    opacity: 0.8;
  }
}
div.size {
  display: flex;
  .about {
    font-size: 1.1rem;
    font-weight: 600;
  }
}
h1 {
  font-size: 1.5rem;
  margin-left: auto;
}
.size {
  width: 100px;
  height: 55px;
  align-items: center;
  &:last-child {
    margin-left: auto;
    justify-content: flex-end;
  }
}
</style>
