<template>
  <div class="pageControl">
    <!-- <a class="btn"><i class="fas fa-arrow-left"></i></a> -->

    <div class="lineBtn" v-for="index in 10" :key="index">
      <div class="fixMargin">
        <router-link :to="{ name: 'PageCounter', params: { page: index } }">
          <div>
            <button class="pageBtn">
              {{ index }}
            </button>
          </div>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "PageControl",
};
</script>
<style scoped lang="scss">
#fix {
  width: 30px;
}
.btn {
  font-size: 1.2rem;
  padding: 0 10px;
  vertical-align: middle;
  cursor: pointer;
  &:hover {
    opacity: 0.6;
  }
}
button {
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-color: white;
  border: 1px solid black;
}
span:first-child button {
  border: 2px solid #42b983;
}
.pageBtn {
  font-weight: bold;
  &:hover {
    opacity: 0.6;
  }
}
.currentPage {
  border: 2px solid #42b983;
}
.pageControl {
  margin: 10px 0 -10px;
}

.lineBtn {
  display: inline-block;
}
.fixMargin {
  margin: 10px;
}
</style>
