<template>
  <div>
    <h2 v-html="name"></h2>
    <img
      v-if="loadCurrentCatPost.length == 0"
      src="../assets/preloading.gif"
      alt="loading"
    />
    <div v-for="post in loadCurrentCatPost" :key="post">
      <router-link
        :to="{
          name: 'PostPage',
          params: { id: post.id },
        }"
      >
        <span class="posts" v-html="post.title.rendered"></span>
      </router-link>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
  name: "PostsPerCat",
  data() {
    return {
      name: String,
    };
  },
  methods: {
    ...mapActions(["fetchCurrentCatPost"]),
  },
  computed: {
    ...mapGetters(["loadCurrentCatPost"]),
  },
  created() {
    this.fetchCurrentCatPost();
    let regEx = /cat-posts\/\d+\/\w+/;
    let url = window.location.href.match(regEx);
    let part = url[0].split("/");
    let name = part[part.length - 1];
    this.name = name;
  },
};
</script>

<style></style>
