<template>
  <div>
    <img
      v-if="loadCurrentPost.length == 0"
      src="../assets/preloading.gif"
      alt="loading"
    />
    <div v-for="item in loadCurrentPost" :key="item">
      <h2 id="titleContent" v-html="item.title.rendered"></h2>
      <div id="content" v-html="item.content.rendered"></div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
  name: "Post",
  methods: {
    ...mapActions(["fetchCurrentPost"]),
  },
  computed: {
    ...mapGetters(["loadCurrentPost"]),
  },
  created() {
    this.fetchCurrentPost();
  },
};
</script>

<style lang="scss" scoped>
a,
h2,
p,
span,
b,
div {
  all: revert;
}
@media screen and (min-width: 600px) {
  #content {
    margin: 0 10%;
  }
}
@media screen and (min-width: 600) {
  #content {
    margin: 0 20%;
  }
}
</style>
